body {
	margin: 0;
	padding: 0;
	background-color: #fffaf0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.mapboxgl-map {
	position: absolute;
}

.map-container {
	width: 50vw;
	height: 50vh;
	margin: 20px 0;
}

p {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.default-rates {
	border: 1px solid #ffd98d;
	border-radius: 25px;
	padding: 20px;
	margin: 0;
	box-shadow: 0 0px 3.2px -24px rgba(0, 0, 0, 0.108),
		0 0px 8.8px -24px rgba(0, 0, 0, 0.141),
		0 0px 21.1px -24px rgba(0, 0, 0, 0.167),
		0 0px 70px -24px rgba(0, 0, 0, 0.24);
}

.form,
.price-per-km {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

.result {
	margin: 10px 0;
}
